<!-- ======= Header ======= -->
<header id="header" class="align-items-center ">
    <div class="container-fluid container-xxl align-items-center text-center">
        <!-- <div id="logo" class="me-auto">
        </div> -->
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#speakers">Skills</a></li>
                <li><a class="nav-link scrollto" href="#schedule">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header><!-- End Header -->
<section id="home">
    <div class="container-fluid">
        <div class="row m-0 align-items-center min-vh-100">
            <div class="col-md-6 text-center left-card img-animated">
                <img src="../../../assets/images/home.png" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 class="home-title">Hi, I'm Vignёsh.</h1>
                <app-type-effect></app-type-effect>
            </div>
        </div>
    </div>
</section>