#home {
    width: 100%;
    height: 100vh;
    background-color: #111111;

    .img-animated {
        animation: glide 2s ease-in-out infinite alternate-reverse both;

        img {
            height: 375px;
        }
    }

    @keyframes glide  {
        from {
           left:0px;
           top:0px;
        }
        
        to {
           left:0px;
           top:20px;
        }
    }

    .home-title {
        font-size: 70px;
        font-family: Bogart;
        background: linear-gradient(270deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: normal;
        font-weight: 500;
        margin-bottom: 25px;
    }
    
    /deep/.typed-cursor{
        margin: 5px;
        color: white;
        font-size: 55px;
    }
}


// #home:before {
//     content: "";
//     background: #00000085;
//     position: absolute;
//     bottom: 0;
//     top: 0;
//     left: 0;
//     right: 0;
//   }
//   #home .home-container {
//     position: absolute;
//     bottom: 0;
//     top: 0;
//     left: 15px;
//     right: 15px;
//     // display: flex;
//     // justify-content: center;
//     // align-items: flex-end;
//     // flex-direction: column;
//     // font-family: system-ui;
//     height: 100vh;
//   }
//   #home h1 {
//     // margin: 30px 30px;
//     font-size: 150px;
//     font-weight: 700;
//     line-height: 56px;
//     color: #fff;
//     font-family: 'Bogart';
//     // font-family: Arial, sans-serif;
    
//   }

//   #home h2 {
//     // margin: 30px 30px;
//     font-size: 4rem;
//     font-weight: 700;
//     line-height: 56px;
//     color: #fff;
//     font-family: 'Bogart', sans-serif;
//     // font-family: Arial, sans-serif;
//   }
//   @media (min-width: 1024px) {
//     #home {
//       background-attachment: fixed;
//     }
//   }
//   @media (max-width: 768px) {
//     #home h1 {
//       font-size: 30px;
//       line-height: 36px;
//     }
//     #home h2 {
//       font-size: 18px;
//       line-height: 24px;
//     }
//   }