<!-- <section id="home" [style.background]="'url(../../../../../assets/images/home-bg.jpg)'">
    <div class="home-container">
        <div class="row m-0 align-items-center min-vh-100">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <div class="p-5">
                    <h2>Hello</h2>
                </div>
                <div class="p-5">
                    <h2>I am</h2>
                </div>
                <div class="p-5">
                    <h1>Vignesh</h1>
                </div>
            </div>
        </div>
      </div>
</section> -->

<section id="home">
<div class="container-fluid">
    <div class="row m-0 align-items-center min-vh-100">
        <div class="col-md-6">
            hi
        </div>
        <div class="col-md-6">
            <!-- <h1 class="home-title">Hi, I'm Vignesh.</h1> -->
              <app-type-effect></app-type-effect>
        </div>
    </div>
</div>
</section>

<script src="../home-section/typed.js/typed.min.js"></script>